:root {
  --primary-color: #36809E;
  --light-blue: #8ecae6;
  --light-brown: #CAC69B;
  --secondary-color: #A9F569;
  --light-green: #A3C586;
  --dark-green: #52734D;
}

/* styles.css */
body, html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: 'Poppins';
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
.main-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
/*
.landing, .exploring-options {
  flex: 1;
}*/
/* ------ HEADER ------*/

.fixed-header{
  position: fixed;
  z-index: 1000;
}

.nav-watchtrough{
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
}

.nav-color{
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}

#logo {
  transform:translate(0,-20%);
  height: 18vh;

}
.left-header{
  margin-left: 2vw;
  align-self: flex-start;
  align-items: center;
}

.right-header {
  margin-left: auto;
  margin-right: 2vw;
}

.right-header> ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25;
  font-weight: bold;
  gap: 4vw;
}

/* BACKGROUND */

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('../img/cerro_nicolas.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: -2; 
}

/* LANDING */

.landing{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /*background-image: url('../img/cerro_nicolas.jpg');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; 
  background-repeat: no-repeat; 
  /*z-index: -1;*/
}

.text-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 3em;
}

.text-intro{
  margin-top: 7vh;
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.moving-arrow{
  animation: arrow-move 2s infinite;
}

/* ---  EXPLORING OPTIONS --- */

.exploring-options{
  background-color: var(--primary-color);
  height: 115vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.exploring-options{
  background-color: var(--primary-color);
  width: 100%;
  height: 110vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#header-exploring-options{
  margin: 0;
  margin-top: 10vh;
  height: 38vh;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  align-items: flex-end;
}

#header-exploring-options > p {
  transform: translate(0, 80%);
}

.carousel-container{
  width: 100%;
  height: 62vh;
  margin-bottom: 10vh;
}

.carousel-container-hidden> * {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#rope-hanging1 {
  width: 110vw;
  transform: translateX(-10%) translateY(-70%) rotate(2deg);
}

.photo-container{
  height: auto;
  width: 100%;
  display: grid;
  padding-left: 2vw;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.clothin-pin {
  height: 100px;
  transform: translate(-130%, -105%);
  margin-top: -50%;
}

.square{
  margin-top: -50%;
  margin-bottom: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square > div {
  height: calc(100%/1.1);
  width: calc(100%/1.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*background-color: red;*/
}

.square-photo > img {
   /* Asegura que la imagen cubra todo el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen cubra toda la altura del contenedor */
  max-width: 100;
  object-fit: cover; /* Mantiene las proporciones de la imagen y recorta el exceso */
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.bounce-in {
  animation: bounceIn 1s;
}

.exploring-detail-c {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.5s linear 0.5s; 
  position: absolute;
  margin-top: 42vh;
  max-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploring-detail-c.visible {
  opacity: 1;
  transition: opacity 0.5 ease-in;
  visibility: visible; 
}

.square-info-c {
  display: grid;
  /*grid-template-columns: auto auto ;*/
  grid-template-columns: repeat(2, 1fr) ;
  height: 100%;
  width: 80vw;
  background-color: white;
}

.detail-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img > img{
  max-width: 90%;
  max-height: 100;
  object-fit: cover;
  margin: 20px;
}

.detail-info-c {
  display: grid;
  grid-template-rows: repeat(3, 10%) 70%; /* Tres filas del 10% del tamaño del padre y una fila del resto del espacio */
  grid-gap: 15px;
  padding: 5%;
}


.detail-title{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
}

.detail-title p{
  font-weight: bold;
  margin: auto;
}

.detail-subt > span{
  font-weight: bold;
  color: rgb(41, 41, 41);
}
.exit-icon{
  position: absolute;
  right: 0;
}
/*.detail-title button{
  position: absolute;
  right: 0;
}*/


.detail-desc {
  padding-right: 10px;
  text-align: justify;
}

/* --- PERKS --- */

.perks{
  background-color: var(--dark-green);
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
}

.perks > div{
  height: 100%;
  display: grid;
  grid-template-rows: 35% 10% 5% 35% 15%;
  text-align: center;
}

.perk.highlight{
  background-color: var(--light-green);
}

.perk-icon{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.perk-title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 2em;
  margin-top: 3%;
}

.perk-subtitle > p{
  font-weight: bold;
  font-size: 1.1em;
}

.perk-desc{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 1.1em;
}

.perk-redirect{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

@keyframes pulse{
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
.perk-button{
  width: 50%;
  height: 70%;
  margin-top: -20%;
  border-radius: 10px;
  background-color: white;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 4s infinite;
}

.perk-button > p{
  font-size: 1.1em;
}


/* --- REVIEWS --- */

.reviews {
  height: 110vh;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -2;
  position: relative;
}

.back-mountain{
  position: absolute;
  bottom: 13%;
  z-index: 1;
}

.back-mountain{
  height: 5vh;
  width: 100%;
}


.reviews-c{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.review-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tooltip {
  background-color: white;
  width: 60%;
  height: 60%;
  clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%, 80% 80%);
  margin-top: 10%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1; 
}

.bubble-img {
  position: absolute;
  background-color: #d6d6d6;
  height: 25%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-80%);
  border-radius: 5%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2; 
}

.bubble-img > img {
  height: calc(100% - 15px);
  width: calc(100% - 15px); 
  object-fit: cover; 
}

.bubble-text > p {
  padding: 10% 5% 5% 5%;
  font-size: 1.1em;
}

.bubble-text > p > b {
  font-size: 1.2em;
}


/* --- CONTACT-US --- */

.contact-us{
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

.contact-us-c{
  height: 70%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.left-contact-us{
  flex: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact-us-title{
  margin-top: 10%;
  font-weight: bold;
  font-size: 1.4em;
}

#contact-us-desc{
  padding: 5%;
  font-size: 1.3em;
}

.right-contact-us{
  flex: 50%;
  padding: 2%;
}

#contact-form{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 15% 15% 1fr 10%;
}

#contact-form> * {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

#contact-form > div > label {
  font-weight: bold;
}

#row-form-c{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding-right: 10%;
}

#row-form-c > div {
  flex: 50%;
}

#row-form-c > div > input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #000; 
  padding: 5px;
  outline: none; 
}

#fname{
  width: 90%;
}

#ftel {
  width: 96%;
}


#row-form-c > div >input:focus {
  border-bottom-color: #09F;
}

#msg-form-c-us {
  padding-bottom: 2%;
}

#fmsg {
  width: 100%; 
  height: 95%; 
  box-sizing: border-box; 
  padding-bottom: 2%;
}


#contact-form > div > input, textarea {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid #000; 
    padding: 5px;
    outline: none; 
}


#contact-form > div > input:focus, textarea:focus {
    border-bottom-color: #09F;
}


#submit-btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  user-select: none; 
  background-color: #000;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
}

#submit-btn:hover{
  background-color: #36809E;
}



/*--- FOOTER ---*/



footer {
  background-color: var(--dark-green);
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
}


.footer-items-c{
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer-items-c > div {
  flex: 1;
  margin-left: 3%;
}

.footer-items-c > div > h3 {
  color: #ffff;
}
.footer-items-c > div > p {
  text-align: justify;
}

#reach-me {
  margin-top: -5%;
}
.f-reach-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f-reach-me > p {
  margin-left: 5%;
}

#location > a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.f-legal-info > p > a{
  text-decoration: none;
  color: inherit; 
}

#copyright{
  bottom: 0; 
  /*background-color: var(--secondary-color);*/
  background-color: #87c157;
  padding: 5px;
  width: 100%;
  text-align: center;
}