:root {
  --primary-color: #36809E;
  --light-blue: #8ecae6;
  --light-brown: #CAC69B;
  --secondary-color: #A9F569;
  --light-green: #A3C586;
  --dark-green: #52734D;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bundles-m-c{
    width: 100%;
    height: 100vh;
    background-image: url('../img/cerro_nicolas.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
}

    .bundles-l-section{
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }

.slide-c{
    display: grid;
    place-items: center;
    width: 100vw;
    margin-top: 4vh;
}

.slide-box{
    width: 82vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper {
    width: 100%;
    /*padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; */
    
  }


  /*.swiper-slide div{
    height: 500px;
    border-radius: 10px;
  }*/

  .bundle-c{
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*height: 80vh;*/
    border-radius: 10px;
  }

  .bundle-header{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 30px ;
    margin: 10px 0 10px 0;
    top: 0;
  }
  
  .bundle-img{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
  }

  .bundle-img > img{
    max-height: 100%; /* Asegura que la imagen cubra toda la altura del contenedor */
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .bundle-perks{
    padding: 0 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .bundle-perks-i{
    list-style: none;
    margin: 10px;
    column-count: 2;
    column-gap: 20px;
    column-fill: balance;
    font-weight: 500;
  }

  .bundle-perks-i li{
    display: inline-block;
    width: 98%;
    margin: 0;
    padding: 0;
    orphans: 1; /* Evita huérfanos (una sola línea en la parte inferior de la columna) */
    widows: 1;
  }
  .bundle-detail{
    font-size: 17px;
    text-decoration: underline;
    display: block;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .bundle-button{
    background-color: var(--dark-green);
    height: 50px!important;
    width: 70%;
    display: grid;
    place-items: center;
    margin-bottom: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  .swiper-slide-prev .bundle-c, .swiper-slide-next .bundle-c {
    background-color: var(--dark-green); /* Invertido de --light-green a --dark-green */
  }
  
  .swiper-slide-prev .bundle-button, .swiper-slide-next .bundle-button {
    background-color: var(--light-green); /* Invertido de --dark-green a --light-green */
  }

    /* Increase size of Swiper arrows */
  .swiper-button-next, .swiper-button-prev {
    font-weight: bold;
  }


  @media screen and (max-width: 768px){
    .bundle-header{
      margin: 1%;
    }
    .bundle-img{
      margin-top: -8%;
    }
    .bundle-perks-i{
      column-count: 1;
    }
  }


/*  -- MODAL  -- */

.modal-c{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  transform: translate(0%, -100%);
  z-index: 101  ;
  visibility: hidden;
  display: grid;
  place-items: center;
}

.modal-c.open{
  visibility: visible;
}

.close-c{
  position: relative;
  width: 100%;
}


.close-modal{
  position: absolute;
  z-index: 102;
  right: 0;
  margin-right: 10px;
}

.modal-content{
  border-radius: 10px;
  background-color: #fff;
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal-l{
  flex: 30%;
  max-width: 30%;
  height: 100%;
  background-image: url('https://placehold.jp/150x220.png');
  background-size: cover;
  background-color: rgb(210, 201, 210);
  position: relative;
  border-radius: 10px;
}

.modal-img{
  display: block;
  height: auto;
  width: 20%;
  object-fit: contain;
}

.show-map{
  position: absolute;
  bottom: 0;
  height: 8%;
  width: 70%;
  transform: translate(20%, -50%);
  display: grid;
  background-color: var(--dark-green);
  place-items: center;
  cursor: pointer;
}

.modal-r{
  flex: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2%;
}

.modal-perk-desc{
  font-size: 20px;
  margin: 10px 0 20px 0;
}

/* -- MODAL MAP -- */

.map-c{
  transform: translate(0, 4%);
  visibility: hidden;
  position: absolute;
  background-color: #e98b8b;
  width: 85vw;
  height: 87vh;
  display: flex;
  flex-direction: row;
}

.map-c.open{
  visibility: visible;
}

.map-error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-error svg{
  margin-bottom: 0;
}

.map-error> h3{
  margin: 0;
}