:root {
  --primary-color: #36809E;
  --light-blue: #8ecae6;
  --light-brown: #CAC69B;
  --secondary-color: #A9F569;
  --light-green: #A3C586;
  --dark-green: #52734D;
}

/* styles.css */
body, html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: 'Poppins';
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
.main-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
/*
.landing, .exploring-options {
  flex: 1;
}*/
/* ------ HEADER ------*/

.fixed-header{
  position: fixed;
  z-index: 1000;
}

.nav-watchtrough{
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
}

.nav-color{
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}

#logo {
  transform:translate(0,-20%);
  height: 18vh;

}
.left-header{
  margin-left: 2vw;
  align-self: flex-start;
  align-items: center;
}

.right-header {
  margin-left: auto;
  margin-right: 2vw;
}

.right-header> ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25;
  font-weight: bold;
  gap: 4vw;
}

/* LANDING */

.landing{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/cerro_nicolas.jpg');
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: -1; /* Coloca la imagen de fondo detrás de otros contenidos */
}

.text-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 3em;
}

.text-intro{
  margin-top: 7vh;
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.moving-arrow{
  animation: arrow-move 2s infinite;
}

/* ---  EXPLORING OPTIONS --- */

.exploring-options{
  background-color: var(--primary-color);
  height: 120vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.exploring-options{
  background-color: var(--primary-color);
  width: 100%;
  height: 110vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#header-exploring-options{
  margin: 0;
  margin-top: 10vh;
  height: 38vh;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  align-items: flex-end;
}

#header-exploring-options > p {
  transform: translate(0, 80%);
}

.carousel-container{
  width: 100%;
  height: 62vh;
  margin-bottom: 10vh;
}

.carousel-container-hidden> * {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#rope-hanging1 {
  width: 110vw;
  transform: translateX(-10%) translateY(-70%) rotate(2deg);
}

.photo-container{
  height: auto;
  width: 100%;
  display: grid;
  padding-left: 2vw;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.clothin-pin {
  height: 100px;
  transform: translate(-130%, -105%);
  margin-top: -50%;
}

.square{
  margin-top: -50%;
  margin-bottom: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square > div {
  height: calc(100%/1.1);
  width: calc(100%/1.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*background-color: red;*/
}

.square-photo > img {
   /* Asegura que la imagen cubra todo el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen cubra toda la altura del contenedor */
  max-width: 100;
  object-fit: cover; /* Mantiene las proporciones de la imagen y recorta el exceso */
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.bounce-in {
  animation: bounceIn 1s;
}

.exploring-detail-c {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.5s linear 0.5s; 
  position: absolute;
  margin-top: 42vh;
  max-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploring-detail-c.visible {
  opacity: 1;
  transition: opacity 0.5 ease-in;
  visibility: visible; 
}

.square-info-c {
  display: grid;
  /*grid-template-columns: auto auto ;*/
  grid-template-columns: repeat(2, 1fr) ;
  height: 100%;
  width: 80vw;
  background-color: white;
}

.detail-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img > img{
  max-width: 90%;
  max-height: 100;
  object-fit: cover;
  margin: 20px;
}

.detail-title{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
}

.detail-title p{
  margin: auto;
}

.exit-icon{
  position: absolute;
  right: 0;
}
/*.detail-title button{
  position: absolute;
  right: 0;
}*/

.detail-info-c {
  display: grid;
  grid-template-rows: repeat(3, 10%) 1fr; /* Tres filas del 10% del tamaño del padre y una fila del resto del espacio */
  grid-gap: 15px;
}

.detail-desc {
  padding-right: 10px;
  text-align: justify;
}

/* --- PERKS --- */

.perks{
  background-color: var(--light-brown);
  max-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
}

.perks > div{
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 10% 5% 35% 10%;
  text-align: center;
}

.perk.highlight{
  background-color: var(--light-blue);
}

.perk-icon{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.perk-title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 2em;
  margin-top: 3%;
}

.perk-subtitle > p{
  font-weight: bold;
  font-size: 1.1em;
}

.perk-desc{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 1.1em;
}

.perk-redirect{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.perk-button{
  width: 50%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.perk-button > p{
  font-size: 1.1em;
}

